body {
  background: linear-gradient(180deg,#000000, #080112);
  background-color: lightgrey;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  color: white;
  height: 100%;
  position: relative;
}
html {
  scroll-behavior: smooth;
}

h1{
  font-size: 220%;
}

h1:hover{
  color : yellow;
}

h1:after{
  content: "";
  display: block;
  height: 2px; /*epaisseur du soulignement*/
  left: 0;
  position: relative;
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
  margin-top: 3%;
}

a{
  text-decoration: none;
  color: white;
}

.ancre{
  height: 10vh;
}

/**********************************HEADER************************************/
#header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

#header h1{
  font-size: 400%;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  z-index: 3;
}

#header h1:hover{
  color : yellow;
}

#header h1::before{
  content: "";
  display: block;
  height: 2px; /*epaisseur du soulignement*/
  left: 0%;
  position: relative;
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  margin-bottom: 5%;
}

#header h1:hover::before {
  width: 100%;
  left: 50;
}

#header h1::after {
  content: "";
  display: block;
  height: 2px; /*epaisseur du soulignement*/
  left: 100%;
  position: relative;
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  margin-top: 5%;
}

#header h1:hover::after {
  width: 100%;
  left: 0;
}


/**********************************MENU HAMBURGER************************************/
.menu_hamburger{
  margin-left: auto;
  position: absolute;
  top: 10%;
  right: 3%;
  z-index: 2;
  transition: 0.2s;
}

.menu_hamburger:hover{
  transform: scale(1.1);
  cursor: pointer;
}


.menu_hamburger span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: yellow;
  border-radius: 3px;
}

/**********************************CROSS CLOSE************************************/
#cross {
   width: 33px;
   height: 33px;
   position: absolute;
   top: 10%;
   right: 3%;
   transform:rotate(45deg);
   z-index: 1;
  transition: 0.2s;
}

#cross:hover{
  transform: scale(1.1);
  cursor: pointer;
}

#cross:before, #cross:after {
  content: "";
  position: absolute;
  background: yellow;
}

#cross:before {
  left: 50%;
  width: 10%;
  margin-left: -10%;
  height: 100%;
  border-radius: 3px;
  transition: 0.2s;
}

#cross:after {
  top: 50%;
  height: 10%;
  margin-top: -10%;
  width: 100%;
  border-radius: 3px;
}

/**********************************CLASSE AFFICHER ET DISPARAITRE************************************/

.afficher{
  opacity: 1;
  display: block;
}

.disparaitre{
  opacity: 0;
  display: none;
}

/**********************************Menu de navigation************************************/
#menu{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
}

#liste{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width : 30%;
  list-style: none;

}

#liste li{
  transition: 0.2s;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#liste li:hover{
  color : yellow;
}

#liste li::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px; /*epaisseur du soulignement*/
  left: 50%;
  position: absolute;
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#liste li:hover::after {
  width: 100%;
  left: 0;
}


/**********************************Souris + animation************************************/
.middle{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,50%);
  z-index: -1;
}

.mouse{
  width: 80px;
  height: 140px;
  border: 3px solid yellow;
  border-radius: 60px;
  transition: 0.2s;
}

.mouse::before{
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 30px;
  background: yellow;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}


/**********************************Présentation************************************/

#Presentation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#Presentation h1{
  font-size: 220%;
}

#Presentation p{
  width: 50%;
  text-align: justify;
  line-height: 250%;
  font-size: 120%;
}



/**********************************Meilleure blague************************************/

#BestJoke{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#BestJoke h3::after {
  content: "";
  display: block;
  height: 2px; /*epaisseur du soulignement*/
  left: 0;
  position: relative;
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}

/**********************************Classe pour les blagues************************************/

.joke{
  display: flex;
  flex-direction: column;
  border: 2px solid yellow;
  border-radius: 20px;
  padding: 5%;
}

.joke h4{
  font-size: 140%;
}

.joke p{
  font-size: 130%;
  font-style: italic;
}

.otherJokeButton{
  margin-top: 2%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  color: white;
  padding: 1%;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  border: 2px solid white;
  border-radius: 10px;
  transition: 0.3s;
}

.otherJokeButton:hover{
  background-color: yellow;
  border: 2px solid #080112;
  color: black;
  transform: scale(0.9);
}

/**********************************Différentes blagues************************************/

.programmingJoke{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.darkJoke{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.miscellaneousJoke{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/**********************************Poste ta blague************************************/

.jokeMaker{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form label{
  margin-bottom: 2%;
  margin-right: 2%;
  font-size: 120%;
}

.form label::after {
  content: "";
  display: block;
  height: 2px; /*epaisseur du soulignement*/
  left: 0;
  position: relative;
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}

.form textarea{
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  border-radius: 10px;
  transition: 0.2s;
}

.form textarea:focus{
  border:2px solid yellow;
}

.form textarea:hover{
  transform: scale(1.01);
}

#utilisateur:focus{
  border: 2px solid yellow;
}

.spanForm{
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spanForm input{
  border-radius: 8px;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}

.spanForm input:hover{
  transform: scale(1.01);
}

.spanForm label{
  margin-top: 1%;
}

.spanForm select{
  margin-left: auto;
  border-radius: 8px;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  text-align: center;
  transition: 0.1s;
  color: grey;
  background: none;
}

.spanForm select option{
  background-color: #080112;
}

.spanForm select:hover{
  cursor: pointer;
  transform: scale(1.01);
}

.spanForm select:focus{
  border: 2px solid yellow;
  color: yellow;
}

#poster{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  color: grey;
  padding: 1%;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  border-radius: 10px;
  transition: 0.3s;
}

#poster:hover{
  transform: scale(0.9);
  background-color: yellow;
  color: black;
  border: 2px solid #080112;
}

.galerie_style{
  margin-top: 5%;
}

.jokeUserClass{
  display: flex;
  flex-direction: column;
  border: 2px solid yellow;
  border-radius: 20px;
  padding: 5%;
  margin-bottom: 5%;
}

.jokeUserClass p{
  font-size: 140%;
}

.jokeUserClass h5{
  font-size: 110%;
}

.jokeUserClass h3{
  font-style: italic;
}


/**********************************Flèche************************************/

#img_svg{
  position: absolute;
  bottom: 1%;
  right: 5%;
  height: 126px;
  width: 126px;
  transition: 1s;

}

#img_svg:hover{
  transform: rotate(360deg);
}

#cercle{
  fill: none;
  stroke: url(#Gradient);
  animation: rotate 2s infinite;
  transform-origin: center;
  transform-box: fill-box;
}


#tete_fleche{
  fill: url(#Gradient);
  transform: translateY(30%);
  animation: rotate_arrow 1.5s infinite;
}

/**********************************Animations************************************/


.animation_slide{
  animation:slide 0.2s cubic-bezier(0.17,0.67,0.83,0.67);
  animation-fill-mode: both;
}

.animation_slide_reverse{
  animation:slide_reverse 0.5s cubic-bezier(0.17,0.67,0.83,0.67);
  animation-fill-mode: both;
}

@keyframes slide {
  0%{
    transform: translateX(+100%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes slide_reverse {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes mouse {
  0%{
    opacity: 1;
    top: 30px;
  }
  100%{
    opacity: 0;
    top: 120px;
  }
}

@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}

@keyframes rotate_arrow {
  100%{
    transform: rotate(360deg);
    opacity: 0;
    }
}

/**********************************Responsive 1024px************************************/

@media screen and (max-width: 740px) {

  h1{
    font-size: 150%;
  }

  h3{
    font-size: 100%;
  }

/**********************************Header************************************/
  #header{
    height: 70vh;
    }

  #header h1{
    font-size: 250%;
  }

  .menu_hamburger span{
    width: 23px;
    height: 2px;
  }

  #cross {
     width: 23px;
     height: 23px;
   }

   #liste li{
     font-size: 80%;
   }
  /**********************************Souris + animation************************************/
  .middle{
    top: 60%;
    left: 50%;
  }

  .mouse{
    width: 70px;
    height: 120px;
  }

  .mouse::before{
    content: '';
    width: 10px;
    height: 10px;
    top: 20px;
    animation: mouse 2s infinite;
  }

  @keyframes mouse {
    0%{
      opacity: 1;
      top: 30px;
    }
    100%{
      opacity: 0;
      top: 100px;
    }
  }

  /**********************************Présentation************************************/

  #Presentation{
    height: 50vh;
    margin-top: 30%;
   }

  #Presentation h1{
    font-size: 150%;
  }

  #Presentation p{
    line-height: 170%;
    font-size: 90%;
  }

  /**********************************Meilleure blague************************************/

  #BestJoke{
    height: 50vh;
    width: 80%;
    margin-top: 10%;
  }

  /**********************************Classe pour les blagues************************************/

  .joke h4{
    font-size: 90%;
  }

  .joke p{
    font-size: 80%;
    font-style: italic;
  }

  .otherJokeButton{
    font-size: 80%;
  }

  /**********************************Différentes blagues************************************/

  .programmingJoke, .darkJoke, .miscellaneousJoke{
    height: 40vh;
    margin-top: 15%;
  }

  /**********************************Poste ta blague************************************/

  .jokeMaker{
    margin-top: 20%;
    padding: 5%;
  }

  .form label{
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    width: 80%;
  }

  .form textarea{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .spanForm{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .spanForm input{
    font-size: 80%;
    margin-right: auto;
  }

  .spanForm label{
    width: auto;
  }

  .spanForm label::after {
      width: 100%;
    }

  .spanForm select{
    font-size: 80%;
  }

  #poster{
    width: 20%;
  }

  .galerie_style h1{
    margin-left: auto;
    margin-right: auto;
  }

  .jokeUserClass p{
    font-size: 80%;
  }

  .jokeUserClass h5{
    font-size: 60%;
  }

  .jokeUserClass h3{
    font-style: italic;
    font-size: 70%;
  }

  /**********************************Flèche************************************/

  #img_svg{
    bottom: 1%;
    right: 5%;
    height: 70px;
    width: 70px;
   }
